body {
    background-color:rgb(0, 0, 0);

}
h1 {
    margin-left: 530px;
    margin-top: 60px;
    color:rgb(212, 0, 0);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-shadow: -3px 2px 4px rgb(255, 0, 0),
    1px 2px 0px rgba(158, 0, 0, 0.3);
    font-style: oblique;
    font-size: 50px;
    font-style: normal;
    
}

th {
    border: none;
    font-size: 18px;
}

table {
    color:rgb(255, 0, 0);
    border: 4px solid rgb(255, 0, 0);
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 50px;
}

.name {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.atributos {
    font-size: x-large;
    color:white;
    border: none;
}

#dustin {
    position: absolute; left: 50px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: oblique;
    text-align: center;
    color: white;
}

.imgdustin {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    border: 5px solid rgb(255, 0, 0);
}

#eddie {
    position: absolute; left: 570px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: oblique;
    text-align: center;
    color: white;
}
.imgeddie {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    border: 5px solid rgb(255, 0, 0);
}

#gorgon {
    position: absolute; left: 1080px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-style: oblique;
    color: white;
}

.imggorgon {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    border: 5px solid rgb(255, 0, 0)
}

.xp {
    font-size: x-large;
}

.barra-fora {
    width: 400px;
    height: 14px;
    background-color: #0b2222;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.barra-dentro {
    width: 1%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}


                                                            /* CSS DA ESCOLHA DO MUNDO */



.world {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

#tblchoiceworld {
    position: absolute; left: 20px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-style: oblique;
    border-color:  rgb(65, 163, 249);
    border-radius: 30px;
    color: white;
}


.imgnormalworld {
    width: 700px;
    height: 380px;
    border-radius: 50px;
    border: 5px solid rgb(65, 163, 249);
}


#inverseworld{
    position: absolute; left: 800px;
    margin-right: 20px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-style: oblique;
    border-radius: 30px;
    color: white;
}

.imginverseworld {
    width: 700px;
    height: 380px;
    border-radius: 50px;
    border: 5px solid  rgb(255, 0, 0);
}

.description {
    font-size: x-large;
    color:white;
    border: none;
}

#inversename {
    color:rgb(69, 0, 30);
}
