body {
    background-color:rgb(0, 0, 61);

}
h1{
    margin-left: 565px;
    margin-top: 60px;
    color:rgb(212, 212, 0);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-shadow: -3px 18px 10px rgba(0, 0, 0, 1),
    -1px 4px 0px rgba(0, 0, 0, 0.3);
    font-style: oblique;
    font-size: 40px;
    font-style: normal;
    
}

table {
    color:white;
    border: 1px solid white;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
}

.name {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 30px;
    text-align: center;
}

.atributos {
    font-size: x-large;
    color:white;
}

#silver {
    position: absolute; left: 50px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color:rgb(212, 212, 0);
}

.imgsilver {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid white;
}

#superman {
    position: absolute; left: 570px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color:rgb(212, 212, 0);
}
.imgsuperman {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid white;
}

#chapolim {
    position: absolute; left: 1080px;
    position: absolute; top: 82px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color:rgb(212, 212, 0);
}

.imgchapolim {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid white
}

.xp {
    font-size: x-large;
}

.barra-fora {
    width: 400px;
    height: 14px;
    background-color: #0b2222;
    border: 2px solid black;
    border-radius: 10px;
}

.barra-dentro {
    width: 0%;
    height: 0%;
    background-color: yellow;
    border-radius: 10px;
}